body {
  background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) center,
    linear-gradient(#f6f8fd 29px, transparent 1%) center, #bfc5d3;
  background-size: 30px 30px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
